<html>
    <head>
        <title>
            <%= locals.title %>
        </title>
       <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1 id = "page-heading">
            <i class = "fas fa-address-book"></i> 
            My Contacts List
        </h1>
        <form action = "/create-contact" method="POST">
            <input type="text"name = "name" placeholder="Name" required>
            <input type="text" name="phoneNo" placeholder="Phone Number" requiredtitle="Error Message" pattern="[1-9]{1}[0-9]{9}" >

            <button type = "submit">Add Contact</button>
        </form>

        <div id = "list">
            <ul>
                <% for(let i of contact_list){ %>
                    <li class = "details">
                        <h4><%= i.name %> </h4>
                        <p><%= i.phone %> </p>
                   
                        <div class = "delete-button">
                            <!-- Using string params
                            <a href = "/delete-contact/<%= i.phoneNo %>">
                                <i class = "fas fa-window-close"></i>
                            </a> -->
                            <!-- Using Query -->
                            <a href = "/delete-contact/?id=<%= i._id %>">
                                <i class = "fas fa-window-close"></i>
                            </a>
                        </div>
                    </li>
                <% } %>
            </ul>


        </div>

       
        <script src="https://kit.fontawesome.com/31db3edf0d.js" crossorigin="anonymous"></script>
      
    </body>
</html>